@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Serif:wght@700&family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img {
  width: 250px;
  height: 350px;
}
.div_flex {
  margin: 0 auto;
  width: 1500px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.span {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}
.span::after {
  content: "₽";
  margin-left: 5px;
}

